<!DOCTYPE html>
<html>
<head>
    <title>Respuesta Creación Odontólogo</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto mt-5">
        <h1 class="text-3xl font-bold mt-5">Respuesta Creación Odontólogo</h1>
        <p th:text="${mensaje}" class="text-xl mt-4"></p>
        <a href="/odontologo/new_frontend" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block">Volver al Formulario</a>
    </div>
</body>
</html>
